:root {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Header */
.site-header {
  background: #eaeaea;
  padding: 1rem;
}

.site-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

/* Main Content */
.main-content {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

/* Products */
#products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.product-card {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
}

.product-card button {
  background: lightgray;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Login */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Footer */
.site-footer {
  background-color: #242424;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  flex: 1;
  min-width: 300px;
  margin-right: auto;
  margin-bottom: 50px;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 25px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #4CAF50;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-info p {
  margin: 0;
  font-size: 14px;
}

.contact-info i {
  margin-right: 8px;
  color: #4CAF50;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #444;
  font-size: 14px;
  color: #bbb;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.payment-icon {
  display: flex;
}

.payment-icon img {
  width: 150px;
  height: auto;
}

.social-icons {
  display: flex;
  
}

.social-icons .social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #4CAF50;
  background-color: transparent;
  border-radius: 50%;
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icons .social-link:hover {
  color: #89dd8e;
}